{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block page_content %}
    <div class="profil-main-info">
        <h2 class="title">Profil</h2>
        <div class="name">
            <p>{{ app.user.lastname }}</p>
            <p>{{ app.user.firstname }}</p>
        </div>
        <div class="profession">
            <p>{{ app.user.profession }}</p>
        </div>
        <div class="adresse">
            <h3>Adresse</h3>
            <p>{{ app.user.adresse }}</p>
        </div>
        <div class="cp">
            <h3>Code postal</h3>
            <p>{{ app.user.postalcode }}</p>
        </div>
        <div class="city">
            <h3>Ville</h3>
            <p>{{ app.user.city }}</p>
        </div>
        <div class="email">
            <h3>Email</h3>
            <p>{{ app.user.email }}</p>
        </div>
        <div class="competences">
            <h3>Compétences</h3>
            {% for competence in app.user.competences %}
                {{ competence.name }}
            {% endfor %}
        </div>
    </div>

{% endblock %}
