{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block page_content %}
<div class="container-page-details">
    <div class="profil-main-info">
        <div class="status">
            {% if user.collab == 1 %}
                <p>Collaborateur</p>
            {% endif %}
            {% if user.collab == null %}
                <p>Candidat</p>
            {% endif %}
            {% for competence in user.competences %}

            {% endfor %}
        </div>
        <h2 class="title">Profil</h2>
        <div class="name">
            <p>{{ user.lastname }}</p>
            <p>{{ user.firstname }}</p>
        </div>
        <div class="profession">
            <p>{{ user.profession }}</p>
        </div>
        <div class="adresse">
            <h3>Adresse</h3>
            <p>{{ user.adresse }}</p>
        </div>
        <div class="cp">
            <h3>Code postal</h3>
            <p>{{ user.postalcode }}</p>
        </div>
        <div class="city">
            <h3>Ville</h3>
            <p>{{ user.city }}</p>
        </div>
        <div class="email">
            <h3>Email</h3>
            <p>{{ user.email }}</p>
        </div>
        <div class="competences">
            <h3>Compétences principales</h3>
            {% for competence in user.competences %}
                <p class="single-competence">{{ competence.name }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="competences-part">
        <div class="form-skills">
            <h2>Compétences</h2>
            {{ form(form_competences) }}
        </div>
        <div class="competences-all">
            {% for competence in user.competences %}
                <div class="single-competence-container">
                    <p class="single-competence">{{ competence.name }}</p>
                    {% if competence.competencelike == 1 %}
                        <i class="fa fa-heart"></i>
                    {% endif %}
                    {% if competence.competencelike == null %}
                    {% endif %}
                   {% if competence.levelcompetence == null %}
                       {% else %}
                           <p> niveau: {{ competence.levelcompetence }} </p>
                   {% endif %}
                    <a class="edit-competence" href="{{ path('admin_competences_edit', { 'user': user.id, 'id': competence.id})}}">Editer</a>

                </div>

            {% endfor %}
        </div>
    </div>
    <div class="experience-part">
        <div class="form-experience">
            <h2>Expériences</h2>
            {{ form(form_experiences) }}
        </div>
        <div class="competences-all">
            {% for experience in user.experiences %}
                <div class="competence-single">
                    <h3>Experience</h3>
                    <span>{{ experience.startdate|date("m/d/Y")}} - {{ experience.enddate|date("m/d/Y")}}</span>
                    <p class="single-competence">{{ experience.function }}</p>
                    <p>{{ experience.place}}</p>
                    <p>{{ experience.description }}</p>
                    <a class="edit-competence" href="{{ path('admin_experience_edit', { 'user': user.id, 'id': experience.id})}}">Editer</a>

                </div>

            {% endfor %}
        </div>
    </div>
</div>
    <div class="edit">

    </div>
{% endblock %}
