{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends ['@EasyAdmin/page/content.html.twig', './././base.html.twig'] %}

{#<link rel="stylesheet" href="./assets/styles/app.scss">#}

{% block page_title 'Tableau de bord' %}

{% block page_content %}
   <div class="container">
       <div class="admin-first-row">
           <div class="cardbox new-collaborator">
            <span> {{ countNumberCollab }}</span>
               <p>Nouveaux collaborateurs</p>
           </div>
           <div class="cardbox modified-collaborator">
               <span >120</span>
               <p>Collaborateurs modifiés</p>
           </div>
           <div class="cardbox new-candidates">
               <span>2 Nouveaux candidats</span>
               <a href="/candidate/new">Ajouter un candidat</a>

           </div>
       </div>

       <div class="admin-second-row">
           <div class="latest-collab">
               <h2>Derniers collaborateurs</h2>
               <div class="latest-collab-container">
                    {% for candidate in countLatestCollab%}
                       <div class="new-candidates">
                           {{candidate.firstname }}
                           {{candidate.lastname }}
                       </div>
                   {% endfor %}
               </div>
           </div>
           <div class="latest-candidates">
               <h2>Derniers candidats</h2>
               <div class="latest-candidates-container">
                   {% for candidate in countAllCandidates%}
                       <div class="new-candidates">
                           {{candidate.firstname }}
                           {{candidate.lastname }}
                       </div>
                   {% endfor %}
               </div>
           </div>
       </div>
   </div>


{% endblock %}
